services:

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - /host_mnt/d/Program Files/mongo-data:/data/db
    networks:
      - clinixpro

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "2022:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongodb
    networks:
      - clinixpro

networks:
  clinixpro:
    external: true

volumes:
  mongo-data:
