services:
  payment-service:
    image: dahariyavinay/payment-service:v1
    container_name: payment-service

    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:1019
      SPRING_PROFILES_ACTIVE: docker

    networks:
      - clinixpro

    deploy:
      resources:
        limits:
          memory: 700m

networks:
  clinixpro:
    external: true
